<%= form_with model: @user, local: true do |f| %>
    <div class="form-group">
        <%= f.label :name,'名前' %>
        <%= f.text_field :name %>
    </div>
  <div class="form-group">
    <%= f.label :mania_histry,'趣味歴' %>
    <%= f.number_field :mania_histry %>
  </div>
  <div class="form-group">
    <%= f.label :enjoy_point, '楽しいところ' %>
    <%= f.text_field :enjoy_point %>

  </div>
  <div class="form-group">
    <%= f.label :image,'ユーザー画像' %>
    <%= f.file_field :image%>
</div>

        <div class = 'submit-block'>
    <%= f.submit 'プロフィール登録', class:"button" %>
    </div>
    <% end %>