<p id="notice"><%= notice %></p>

<h1>Blogs</h1>
<% @blogs.each do |blog| %>
<table>
  <thead>
    <tr>
    <th>Title: <%= blog.title %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <body>
      <tr>
        <td><%= blog.body %></td>

        <td><%= link_to 'Show', blog %></td>
        <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
        <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>

  </body>
</table>
<div id="blog_<%= blog.id %>">
  <%= render 'blog', blog: blog %>
</div>
<% end %>


<br>

<%= link_to 'New Blog', new_blog_path %>
