<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @blog.body %>
  <div id="blog_<%= blog.id %>">
    <%= render 'blog', blog: blog %>
 </div>
 <% @blog_comments.each do |blog_comment| %>
  <div class="comment-user">
    <tr>
      <td><%= blog_comment.user.nickname %>:</td>
      <td><%= blog_comment.comment %></td>
      <td><%= link_to "削除", blog_blog_comment_path(@blog, blog_comment), method: :delete %></td>
    </tr>
  </div>
<% end %>
</p>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
