<div class="content">
  <%= render 'user-about', blog: @blog %>
        <div class="text">
          <div class="title">
            <h3>タイトル: <%= @blog.title %></h3>
          </div>
        <p><%= @blog.body %></p>
        </div>

      <div class="action-menu">
            <% if user_signed_in? %>
                <div class="like">
                    <div id="blog_<%= @blog.id %>">
                    <%= render @blog, blog: @blog %>
                  </div>

                  <h3>コメント件数: <%= @blog.blog_comment.count %></h3>
                  <%= link_to "この方について", blog_user_path(@blog,@blog.user.id) %>

                  <div class="comment">
                  <% if user_signed_in? %>
                        <%= form_for [@blog, @blog_comment] do |f| %>
                          <%= f.text_area :blog_comment, size: "40x2" %>
                          <%= f.submit '送信', class: "btn-sm btn-primary" %>
                          <% end %>

                      <% @blog_comments.each do |blog_comment| %>
                            <div class="comment-user">
                              <tr>
                                <td><%= blog_comment.user.nickname %>:  </td>
                                <td><%= blog_comment.blog_comment %></td>
                                <td><%= link_to "削除", blog_blog_comment_path(@blog, blog_comment), method: :delete %></td>
                              </tr>
                            </div>
                      <% end %>
                  <% end %>
                <% else %>
                  <h3>コメント件数: <%= @blog.blog_comment.count %></h3>
            <% end %>
          </div>
              </div>
      </div>
</div>
