<div class="content-wrapper">
    <div class="content-block">
        <% @movies.each do |movie| %>
        <div class="content">
         <div class="user-about">
             <div class="image">
             <% if movie.user.image.attached? %>
             <%= image_tag movie.user.image %>
                <% else %>
            <%= image_tag no.user.png %>
                <% end %>
             </div>

         <div class="profile">
            <div class="name-history">
                <div class="name">

                <%= movie.user.nickname %>


                </div>
                <div class="mania-histry">
                    <%= "学習歴:#{movie.user.mania_histry}年" %>
                </div>
             </div>
             
             <div class="enjoy-point">
             <%= "楽しいポイント#{movie.user.enjoy_point}"%>
             </div>
         </div>
       </div>
       
       <div class="text">
       <p>タイトル: <%= movie.title %></p> <br>
       <p>説明: <%= movie.introduction %></p>
       <div class = 'video'>
       <video src=<%= rails_blob_path(movie.movie) %> type="movie/mp4", controls></video>
       </div>
    </div>
       
         <div class="action-menu">

            <tr id="post_<%= movie.id %>">
            <%= render 'like',movie: movie %> 
            </tr>
             <div class="comment">
                <%if user_signed_in?%>
                <h3>コメント件数: <%= movie.comments.count %></h3>
                <%= link_to "コメントする",  "/movies/#{movie.id}", class: "comment-buttom" %>
                <% else %>
                <h3>コメント件数: <%= movie.comments.count %></h3>
                <%= link_to "コメントを見る", "/movies/#{movie.id}", class: "comment-buttom" %>
                <% end %>
            </div>
                
            <div class="user-action">
            <%if user_signed_in?%>
            <% if current_user.id == movie.user.id || user_signed_in %>
            <%= link_to "編集", edit_movie_path(movie) %>
            <%= link_to "削除", movie_path(movie), method: :delete %>
            <% end %>
            <% end %>
            </div>
         </div>

        </div>
        <% end %>


    </div>
    <div class="sidebar">
     <div class="box">

     </div>
     <div class="box">
         
    </div>
    </div>
</div>