    <div class="content-wrapper">
        <div class="content-block">
    <div class="content">
        <div class="user-about">
            <div class="image">
                <% if @user.image.attached? %>
                    <%= image_tag @user.image %>
               <% else %>
                   <%= image_tag 'no.user.png' %>
                <% end %>
             </div>
                    <div class="profile">
                        <div class="name-history">
                            <div class="name">
                                <%= @user.nickname %>
                            </div>
                            <div class="mania-histry">
                               <%= "趣味歴:#{@user.mania_histry}年" %>
                           </div>
                        </div>
    
                        <div class="enjoy-point">
                            <%= "楽しいポイント#{@user.enjoy_point}"%>
                        </div>
                    </div>

                    </div>

                    <div class="tabbed-area">

	<ul class="tabs group">
	    <li><a href="#box-one">つぶやき</a></li>
	    <li><a href="#box-two">動画</a></li>
	    <li><a href="#box-three">ブログ</a></li>
	</ul>
	
	    <div class="box-wrap">
           <div id="box-one">
            <% @posts.each do |post| %>
                <div class="text">
                   <h2><%= truncate(post.content, length:15) %></h2><%= link_to "コメントor続きをよむ", "/posts/#{post.id}" %>
                 </div>
                 <% if post.images.attached? %>
                     <% post.images.each do |image| %>
                             <div class = 'images'>
                                <%= image_tag image.variant(resize: "1280x720"), class: "content-image" %>
                           </div>
                        <% end %>
                <% end %>
            <% end %>
        </div>
                                
            <div id="box-two">
                <% @movies.each do |movie| %>
                    <div class="text">
                        <h2><%= truncate(movie.title, length:15) %></h2><%= link_to "コメントor続きをよむ", "/movies/#{movie.id}" %>
                        <h3><%= truncate(movie.introduction, length:15) %></h3>
                        <video src=<%= rails_blob_path(movie.movie) %> ,type='movie/mp4 movie/mov', controls>
                    </div>
                <% end %>
            </div>
                                
                <div id="box-three">
                    <% @blogs.each do |blog| %>
                </div>
                <div class="text">
                        <div class="title">
                            <h3>タイトル: <%= blog.title %></h3>
                        </div>
                    <h2><%= truncate(strip_tags(blog.body.to_s),length: 14) %></h2></h2><%= link_to "コメントor続きをよむ", "/blogs/#{blog.id}" %>
                </div>
                <% end %>
                    </div>
                </div>
            </div>
            </div>
           </div>
           <div class="sidebar">
            <%= render 'shared/menu'%>       
         </div>
</div>