
<div class="content-wrapper">
    <div class="content-block">
        <% @posts.each do |post| %>
        <div class="content">
         <div class="user-about">
             <div class="image">
             <% if post.user.image.attached? %>
             <%= image_tag post.user.image %>
                <% else %>
            <%= image_tag 'no.user.png' %>
                <% end %>
             </div>

         <div class="profile">
            <div class="name-history">
                <div class="name">

                <%= post.user.nickname %>


                </div>
                <div class="mania-histry">
                    <%= "趣味歴:#{post.user.mania_histry}年" %>
                </div>
             </div>
             
             <div class="enjoy-point">
             <%= "楽しいポイント#{post.user.enjoy_point}"%>
             </div>
         </div>
       </div>
       
       <div class="text">
        <p><%= post.content %></p>
    </div>
        <% if post.images.attached? %>
        <% post.images.each do |image| %>
            <div class = 'images'>
                <%= image_tag image, class: "content-image" %>
            </div>
        <% end %>
        <% end %>

         <div class="action-menu">
         <div id="post_<%= post.id %>">
         <%= render 'post', post: post %>
        </div>
             <div class="comment">
                <h3>コメント件数: <%= post.comments.count %></h3>
                <%= link_to "コメントする", "/posts/#{post.id}", class: "comment-buttom" %>
             </div>
             <%if user_signed_in?%>
              <div class = 'user-action'>
                    <% if current_user.id == post.user.id %>
                        <%= link_to "編集", edit_post_path(post) %>
                        <%= link_to "削除", post_path(post), method: :delete %>
                    <% end %>
                <% end %>
            </div>
         </div>

        </div>
        <% end %>


    </div>
    <div class="sidebar">
    <%= render 'shared/menu'%>

    </div>
</div>