<div class="content-wrapper">
    <div class="content-block">
        <% @posts.each do |post| %>
        <div class="content">
         <div class="user-about">
             <div class="image">
             <% if post.user.image.attached? %>
                <%= image_tag current_user.image %>
            <% else %>
                <%= image_tag no.user.png %>
            <% end %>
          </div>

         <div class="profile">
            <div class="name-history">
                <div class="name">
                <%= post.user.name %>

                </div>
                <div class="mania-histry">
                    <%= "学習歴:#{post.user.mania_histry}年" %>
                </div>
             </div>
             
             <div class="enjoy-point">
             <%= "楽しいポイント#{post.user.enjoy_point}"%>
             </div>
         </div>
       </div>
       
       <div class="text">
        <p><%= post.content %></p>
    </div>
   
        <% if post.images.attached? %>
           <% post.images.each do |image| %>
            <div class = 'images'>
                <%= image_tag image %>
            </div>
        <% end %>

         <div class="action-menu">
             <div class="like">
             <h3>いいね件数: <%= post.likes.count %></h3>
             <% if @post.present? %>
             <% if current_user.already_liked?(@post) %>
               <%= button_to 'いいねを取り消す', post_like_path(post), method: :delete %>
             <% else %>
               <%= button_to 'いいね', post_likes_path(post) %>
             <% end %>
             <% end %>
             </div>
             <div class="comment">
                 
             </div>
         </div>

        </div>
        <% end %>
        <% end %>

    </div>
    <div class="sidebar">
     <div class="box">

     </div>
     <div class="box">
         
    </div>
    </div>
</div>