
<div class="content-wrapper">
    <div class="content-block">
        <% @posts.each do |post| %>
        <div class="content">
            <%= render 'user-about', post: post %>
       <div class="text">
        <h2><%= truncate(post.content, length:15) %></h2><%= link_to "コメントor続きをよむ", "/posts/#{post.id}" %>
    </div>
        <% if post.images.attached? %>
            <% post.images.each do |image| %>
                <div class = 'images'>
                    <%= image_tag image.variant(resize: "1280x720"), class: "content-image" %>
                </div>
            <% end %>
        <% end %>

         <div class="action-menu">
          
         <div id="post_<%= post.id %>">
                <%= render 'post', post: post %>
            </div>
            <h3>コメント件数: <%= post.comments.count %></h3>
            <%= link_to "この方について", post_user_path(post,post.user.id) %>
                <div class="comment">
                </div>
                    <%if user_signed_in?%>
                        <div class = 'user-action'>
                            <% if current_user.id == post.user.id %>
                                 <%= link_to "編集", edit_post_path(post) %>
                                 <%= link_to "削除", post_path(post), method: :delete %>
                             <% end %>
                        </div>
                    <% end %>
                </div>
            </div>
        <% end %>
    </div>
    
    <div class="sidebar">
        <%= render 'shared/menu'%>       
    </div>
</div>


    