<!DOCTYPE html>
<html>
  <head>
    <title>MixApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'shared/header'%>

    </head>

  <body id = '<%= controller.controller_name %>-<%= controller.action_name %>'>
  <%= render 'shared/toast'%>

  <%= yield %>
  <%= render 'shared/footer'%>

  </body>
</html>