<!DOCTYPE html>
<html>
  <head>
    <title>MixApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <div class="logo">

    <% if user_signed_in? %>
    <h2><%= link_to "Mixapp", "/users/#{current_user.id}" %></h2>
    <% else %>
    <h2><%= link_to "MixApp", "/" %></h2>
    <% end %>

    </div>
  </head>

  <body id = '<%= controller.controller_name %>-<%= controller.action_name %>'>
    <%= render 'shared/toast'%>

    <%= yield %>
    <%= render 'shared/footer'%>

  </body>
</html>